.eeaudio_detail {
    position: relative;
}
.eeaudio_detail .eeaudio_preview{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.eeaudio_detail .eeaudio_player h1 {
    padding: 15px 10px;
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

.eeaudio_player_icon {
    background: url("./img/sound.png") center no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    margin: 10px auto;
}

.eeaudio_player_status {
    margin: 30px 10px;
    padding: 0 50px;
    position: relative;
}

.eeaudio_player_status span{
    position: absolute;
    top: -9px;
    color: #ccc;
}

.eeaudio_player_status .left{
    left: 0;
}

.eeaudio_player_status .right{
    right: 0;
}

.eeaudio_player_progress {
    height: 2px;
    background: #D8D8D8;
}

.eeaudio_player_progress div{
    width: 40%;
    height: 2px;
    background: #4CCCCF;
}

.eeaudio_player_rotate {
    -webkit-animation: eeaudio_rotate 2s linear infinite;
}
@keyframes eeaudio_rotate {
    from {-webkit-transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(360deg);}
}
@-webkit-keyframes eeaudio_rotate {
    from {-webkit-transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(360deg);}
}