.eebutton {
    color: #4CCCCF;
    font-size: 16px;
    text-align: center;
    border: 1px solid #4CCCCF;
    padding: 6px;
    border-radius: 5px;
}

.eebutton_blue {
    color: #fff;
    background: #7FDCDE;
    border: 1px solid #7FDCDE;
}

.eebutton_gray {
    color: #fff;
    background: #C9C9C9;
    border: 1px solid #C9C9C9;
}