.eeheader {
    background: #FF9AA0;
    color: #fff;
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
    font-weight: normal;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.eeheader .back {
    background: url("./img/back.png") no-repeat center;
}

.eeheader .history {
    background: url("./img/clock.png") no-repeat center;
}

.eeheader .left,.eeheader .right{
    width: 50px;
    height: 20px;
    background-size: contain;
    margin-top: 3px;
}

.eeheader .left {
    position: absolute;
    left: 0;
}

.eeheader .right {
    position: absolute;
    right: 0;
}
.eeheader .title {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 40px;
    text-overflow: ellipsis;
}


.eeheader_transparent {
    background: transparent;
}

.eeheader_transparent .left {
    margin-left: 10px;
    background-position: center;
    background-size: 40%;
    background-color: #999;
    opacity: .5;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}