html {
    background-color: #fafafa;
}

.eehome_slider_div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
}
.eehome_slider_div h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}
#EeHome .slick-dots{
    justify-content: flex-end !important;
    margin-top: -30px;
    right: 10px;
    z-index: 2;
    position: relative;
}
#EeHome .slick-dots div{
    background: #fff !important;
}

.eehome_video_list,.eehome_audio_list{
    padding: 20px 10px;
    background: #fff;
}
.eehome_video_list h1,.eehome_audio_list h1{
    color: #222;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: normal;
}
.eehome_video_list li {
    width: 49%;
    float: left;
    margin-bottom: 15px;
}
.eehome_video_list li:nth-child(even){
    float: right;
 }
.eehome_video_list li div{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}
.eehome_video_list li h2{
    font-size: 16px;
    color: #222;
    margin: 8px 0 3px 0;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    font-weight: normal;
}
.eehome_video_list li h3{
    font-size: 12px;
    color: #ccc;
    font-weight: normal;
}


.eehome_audio_list li div{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 140px;
}
.eehome_audio_list li h2{
    font-size: 16px;
    color: #222;
    line-height: 24px;
    font-weight: normal;
    padding: 10px 0 15px 0;
}

