.eevideo_detail {
    position: relative;
}
.eevideo_detail .eevideo_preview{
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;
}
.eevideo_detail .eevideo_preview div{
    height: 220px;
    background: #000;
    opacity: .2;
}
.eevideo_detail .eevideo_play {
    background-image: url("./img/play.png");
    background-size: contain;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 70px;
}
.eevideo_detail .eevideo_title{
    color: #ccc;
    font-size: 12px;
    font-weight: normal;
    padding: 18px 10px;
    background: #fff;
}
.eevideo_detail .eevideo_title h1 {
    color: #222;
    font-size: 18px;
    font-weight: normal;
}

.eestarpoint {
    display: inline-block;
    margin-right: 15px;
}
.eestarpoint div{
    width: 13px;
    height: 12px;
    margin-left: 5px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.eestarpoint .eestarpoint_1{
    background-image: url("./img/star-1.png");
}
.eestarpoint .eestarpoint_05{
    background-image: url("./img/star-0.5.png");
}
.eestarpoint .eestarpoint_0{
    background-image: url("./img/star-0.png");
}

