html,body{
    height: 100%;
}

.bbt_nav_wrapper {
    height: 100%;
}

.bbt_nav_wrapper .bbt_nav_page {
    height: 100%;
    overflow: auto;
}

.bbt_nav_wrapper .bbt_nav_hidden {
    display: none;
    /*为了解决slider滚动过程隐藏会崩溃的问题*/
    /*position: absolute;*/
    /*left: -9999px;*/
}