html,body{
    height: 100%;
}

.bbt_nav_wrapper {
    height: 100%;
}

.bbt_nav_wrapper .bbt_nav_page {
    height: 100%;
    overflow: auto;
}

.bbt_nav_wrapper .bbt_nav_hidden {
    display: none;
}